# Database Configuration
DB_HOST=88.150.227.117
DB_USER=nrktrn_web_admin
DB_PASSWORD=GOeg&*$*657
DB_PORT=3306
DB_NAME=nrkindex_trn

# Server Configuration
PORT=5000
NODE_ENV=production

# CORS Configuration
CORS_ORIGIN=* 